@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AgrandirGrandHeavy";
  src: url("../public/fonts/Agrandir-GrandHeavy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AgrandirRegular";
  src: url("../public/fonts/Agrandir-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #e4e2dd;
  background-color: #2b2b2b;
}

.AgrandirHeavy {
  color: "#E4E2DD" !important;
  font-family: "AgrandirGrandHeavy";
}

.AgrandirRegular {
  color: "#E4E2DD" !important;
  font-family: "AgrandirRegular";
}
